

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.principal-activities{
	background : rgba(51, 122, 183, 0.75);
	padding : 15px;
	border-radius: 10px;
}















