

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 
body{
	font-family: 'Lato', sans-serif ;
}

h1, h2, h3, h4, h5, h6 { 
font-family: 'Ubuntu', sans-serif;
}

h1{
	font-size: 28px;	
}

.progress {
    margin-bottom: 5px !important;
}

.skill-ramo{
	font-size: large;
}

.skill .fa{
	font-size:larger;
	color:green;
}

.empleo{
	font-weight:bolder;	
}

.testimonial{
	background: rgba(0, 100, 130, 0.67);
	border-radius: 25px;
	height: auto;
	margin-top: 15px;
    margin-bottom: 15px;
}

.testimonial img{
	width:80%;
	text-align: center;
	display:block; 
	margin:auto;
	padding-top:20px;
	padding-left:18px;
	padding-right:18px;
}

.quotes{
	padding:18px;
	font-size:larger;
	font-weight: regular;
	color:white;
	display:block; 
}

.cargo {
	padding-right:18px;
	padding-bottom:15px;
	font-size:small;
	display:block; 
	color:white;	
	text-align: right;
}

.author {
	padding-right:18px;
    display:block; 
	color:white;
	text-align: right;
}

.navbar-nav>li {
    font-size: smaller !important;
}

.progress-bar-purple {
    background-image: -webkit-linear-gradient(top,#a54fd9  0,#a54fd9  100%);
    background-image: -o-linear-gradient(top,#a54fd9  0,#a54fd9  100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#a54fd9 ),to(#a54fd9 ));
    background-image: linear-gradient(to bottom,#a54fd9  0,#a54fd9  100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#a54fd9 ', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-orange {
    background-image: -webkit-linear-gradient(top,#f96d16   0,#bd8300  100%);
    background-image: -o-linear-gradient(top,#f96d16   0,#bd8300  100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f96d16  ),to(#bd8300 ));
    background-image: linear-gradient(to bottom,#f96d16   0,#bd8300  100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f96d16', endColorstr='#bd8300 ', GradientType=0);
    background-repeat: repeat-x;
}   

.principal-activities {
	background : rgba(51, 122, 183, 0.75);
	padding : 15px;
	border-radius: 10px;
	margin:5px;
}

.profile-bio {
	width:95%;
	padding-top:15px;
	border-radius:55px;
	margin-right: 25px;
    
}

.img-consultora{
	width:100%;
	height:auto;
	
}

.resumen {
	text-align:justify;
	
}

.skill {
	padding-bottom:5px;
	
}

.profesional-exp {
	
	
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.panel-title {
    font-size: 25px;
    color: inherit;
}

#btnBarDiv {
	display:block; 
	padding-top:35px;
	padding-bottom:35px;
}

.parallax {
	padding-left:-100px;
	width:350%;
    /* The image used */
    background-image: url("../img/img_parallax.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




