/*  CSS for test.html */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.number{

}

.question{
	font-weight:bold;
	padding-bottom: 12px;
}

.answer{
	padding-bottom: 20px;
	cursor:pointer;
}

.answer:hover{
	//font-size:16px;
	font-weight: bold;
}

.question-div{
	padding: 15px;
    border: solid 1px;
    color: black;
    border-radius: 27px;
    margin: 14px 0px;
}

.answered{
	padding: 12px;
	font-weight: bold;	
	font-size: 18px;
	background-color: rgba(105, 148, 226, 0.5);
}

.answered:hover{
	font-weight: bold;	
}